<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polyglot</title>

    <script src="../static/scripts.js"></script>
</head>
<body>
    <div id="content">
        <h1>Polyglot</h1>
        {% block content %}
        {% endblock %}

        <h3>Supported Languages</h3>
        <p>
            English • Mandarin Chinese • Hindi • Spanish • French • Arabic • Bengali • Russian • 
            Portuguese • Indonesian • Urdu • German • Japanese • Swahili • Punjabi • Tamil • 
            Korean • Vietnamese • Javanese • Italian • Thai • Tagalog • Polish • Yoruba • Ukrainian •
            Igbo • Nepali • Romanian • Dutch • Malay • Afrikaans • Greek • Swedish • Hebrew • Latin • 
            Sanskrit • Irish • Maori • Cherokee • Navajo • Hawaiian • Samoan
        </p>
    </div>
</body>
</html>