{% extends 'base.html' %}
{% block content %}
<h2>Welcome to Polyglot!</h2>
<p>Polyglot uses AI to identify the language of a given text. Right now, it can identify 42 
    different languages with an average 96% accuracy. Go ahead and give it a try!</p>

<h2>Enter text</h2>
<form method='POST' action="/predict" accept-charset="UTF-8">
    {% csrf_token %}
    <textarea id="text-input" name="text-input" rows="4" cols="50"></textarea>
    <button type="submit" value="submit">Submit</button>
</form>
{% endblock %}